<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #e17055; box-shadow: 0 0px 5px;">
    <div class="container">
        <!-- <a class="navbar-brand" routerLink="/">TUXVIEW</a> -->
        <img src="../assets/imagens/logo_tux2.jpg" alt="logo_tux2" width="150" routerLink="/">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item " routerLinkActive="active">
                    <a class="nav-link" routerLink="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/foto">Fotos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/formulario">Cadastro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contato">Contato</a>
                </li>
            </ul>
        </div>
    </div>
</nav>