<section>
    <div class="home">
        <h1>TUX VIEW</h1>
        <p>O seu melhor Angulo, Sua melhor Imagem</p>
        <div id="botao">
            <button class="btn btn-light btn-sm" routerLink="/foto">Portifólio</button>
            <button class="btn btn-light btn-sm">Sobre</button>
        </div>
    </div>
</section>
<section>
    <div style="text-align: center; margin-top: 15px;">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ante leo, varius id arcu vel, placerat egestas justo. Donec auctor luctus tortor a sagittis. Nulla imperdiet eros quis dolor blandit facilisis. Vivamus aliquam fermentum egestas. Vivamus finibus ultrices iaculis. Etiam convallis augue vel consectetur sollicitudin. Aliquam erat volutpat. Suspendisse dui erat, tristique vel egestas a, iaculis vel ante. Sed nisi mauris, molestie nec leo in, porta molestie magna. Ut facilisis finibus diam imperdiet aliquet. Etiam cursus magna eget mollis viverra. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
    </div>
</section>
